*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

img{
 width: 600px;   
height: 800px;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(12, 99, 24);
}
h1{
    font-size:450%;
    text-align: center;
    color:rgb(253, 253, 253);
    font-family:'Times New Roman', Times, serif
}
.title{
background-color: rgb(0, 0, 0);
}

p{
font-size: 60px;
text-align:right;
text-align: center;
background-color: aliceblue;

}
.btn{
    position:inherit;
    top: 20px;
   color: rgb(233, 233, 233);
text-decoration: none;
border-radius: 8px;
padding: 10px 20px;
margin-left: -100px;
background-color: hsl(0, 0%, 0%);
transition: 4s;
} 
.btn:hover{
color: rgb(255, 255, 255);
background-color: rgb(38, 0, 255)
}
section{
width: 1000px;
display:inline-table;
}
.picture{
    width: 50%;
}

.picture img{ 
width: 80px;
}

.text{
    width: 50%;
    padding: 40px;
}
.menu{
 width: 100%;
 height: 100px;
 background-color: rgb(36, 36, 36);
}

.menu ul{
display: flex;
list-style-type:none;
justify-content:space-around;
align-items: center;
height: 120%;
}

.link{
color: rgb(255, 255, 255);
text-decoration: none;
}
